.navbar-custom{
  background-color: black;
}
.nav-link{
  color: orange;
}
.nav-link:hover{
  color: white;
}
.custom-toggler.navbar-toggler {
    border-color: orange;
    background-image: url(https://i.imgur.com/smStP2o.png);
}
.card-img-top:hover{
  filter:grayscale(80%) blur(3px);
}
.display-4{
  text-align: center;
  color: orange;
}
.card-title{
  padding: 5px;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}
.card-text{
  padding: 8px;
  font-size: 15px;
  font-style: oblique;
}
.card-block-easy{
  background-color: #98fb98;
}
.card-block-medium{
  background-color:  #FFFF9E;
}
.card-block-hard{
  background-color: #fa867e;
}
.card-img-top {
    width: auto;
    height: auto;
}
body{
  background-color: #f2f2f2 !important;
}
