.nav-link {
  color: orange;

  &:hover {
    color: white;
  }
}

.card-img-top:hover {
  filter: grayscale(80%) blur(3px);
}

.display-4 {
  text-align: center;
  color: orange;
}

.card-block-easy {
  background-color: #98fb98;
}

.card-block-medium {
  background-color: #FFFF9E;
}

.card-block-hard {
  background-color: #fa867e;
}

.card-img-top {
  width: auto;
  height: auto;
}

.card-title {
  padding: 5px;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}

.card-text {
  padding: 8px;
  font-size: 15px;
  font-style: oblique;
}

body {
  background-color: #f2f2f2 !important;
  height: 100%;
}

h3, h2 {
  color: orange !important;
}

.jobs {
  padding-left: 9% !important;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
